# install this file to ~/.config/systemd/user/

[Unit]
Description=Nerf Turret

[Install]
WantedBy=default.target

[Service]
ExecStart=/usr/bin/python3 /home/agranig/nerf-turret/nerf-turret.py
Restart=on-failure
